:root{
    --vermelho:#BF2316;
    --preta:#1F191B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--preta);
    font-family:'Times New Roman', Times, serif;
    color: #F0E7BE;
}
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a {
    text-decoration: none;
    color: #CFBF9D;
    margin-right: 10px;
}
header nav a:hover{
    color: #EBAE5E;
}
/*filme principal*/
.filme-principal {
    font-size: 16px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(/img/big_sleep.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao {
    margin-top: 20px;
    margin-bottom: 40px;
}
.titulo{
    margin-top: -2%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao {
    background-color: rgba(75, 60, 29,0.5);
    border: none;
    color: #F0E7BE;
    padding: 15px 30px;
    margin-right: 12px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    transition: .3s ease all;
}
.botao:hover {
    background-color: #F0E7BE;
    color: #1C1B17;
}
.botao i {
    margin-right: 8px;
}
.container {
    margin-left: 20px;
}
.filme-principal .container {
    width: 60%;
}
.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes {
    margin-top: 5px;
}
.carrosel-filmes h2 {
    margin-left: 10px;
    font-weight: 200;
}